USE [InventoryDB]
GO
/****** Object:  Table [dbo].[Barrels]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barrels](
	[BarrelID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[BeverageID] [int] NOT NULL,
	[CreatedDate] [date] NULL,
	[CurrentVolume] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedByUserID] [int] NULL,
	[UpdatedByUserID] [int] NULL,
	[Year] [int] NOT NULL,
	[YearPercentage] [decimal](7, 2) NULL,
	[PurePercentage] [decimal](7, 2) NULL,
	[IsDeletable] [bit] NOT NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[CurrentAlcPercent] [decimal](5, 2) NULL,
	[WeightedAvgDate] [date] NULL,
	[ProductTypeBitValue] [int] NULL,
	[ProductTypeCode] [nvarchar](20) NULL,
	[RealPercent] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[BarrelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beverages]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beverages](
	[BeverageID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ProductTypeID] [int] NOT NULL,
	[CategoryID] [int] NULL,
	[SubCategoryID] [int] NULL,
	[ColorID] [int] NULL,
	[SweetnessID] [int] NULL,
	[IsMix] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BeverageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CompanyTypeID] [int] NOT NULL,
	[IdentifierCode] [nvarchar](50) NOT NULL,
	[ContactInfo] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CompanyLot] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdentifierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationDefinitions]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationDefinitions](
	[OperationDefID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Math] [char](1) NOT NULL,
	[OperType] [tinyint] NOT NULL,
	[NameOpposite] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[PreserveBarrelState] [bit] NOT NULL,
	[TypeCodeMask] [int] NULL,
	[Position] [int] NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OperationDefID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operations]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[OperationID] [int] IDENTITY(1,1) NOT NULL,
	[BarrelID] [int] NOT NULL,
	[DocumentNumber] [nvarchar](50) NULL,
	[BeverageID] [int] NOT NULL,
	[HarvestYear] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[TransactionDate] [date] NULL,
	[ExecutedByUserID] [int] NULL,
	[OperationDefID] [int] NOT NULL,
	[DocumentTypeID] [int] NULL,
	[YearPercentage] [decimal](7, 2) NULL,
	[PurePercentage] [decimal](7, 2) NULL,
	[VolumeLeft] [decimal](10, 2) NULL,
	[SourceCompanyID] [int] NULL,
	[SourceBarrelID] [int] NULL,
	[Math] [char](1) NOT NULL,
	[PureAVolume] [decimal](10, 2) NULL,
	[PureAPercent] [decimal](7, 2) NULL,
	[YearAVolume] [decimal](10, 2) NULL,
	[YearAPercent] [decimal](7, 2) NULL,
	[OperName] [nvarchar](100) NULL,
	[LinkedOperationID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CalcOrder]  AS (case when [Math]='+' then (1) else (-1) end) PERSISTED NOT NULL,
	[AlcPercent] [decimal](5, 2) NULL,
	[AlcLossVolume] [decimal](10, 2) NULL,
	[AlcLossPercent] [decimal](5, 2) NULL,
	[WeightedAvgDate] [date] NULL,
	[IncomingAvgDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[OperationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[AllowedProductsMask] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Barrels] ADD  DEFAULT ((0)) FOR [CurrentVolume]
GO
ALTER TABLE [dbo].[Barrels] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Barrels] ADD  DEFAULT ((0)) FOR [Year]
GO
ALTER TABLE [dbo].[Barrels] ADD  CONSTRAINT [DF_Barrels_YearPercentage]  DEFAULT ((0)) FOR [YearPercentage]
GO
ALTER TABLE [dbo].[Barrels] ADD  CONSTRAINT [DF_Barrels_PurePercentage]  DEFAULT ((0)) FOR [PurePercentage]
GO
ALTER TABLE [dbo].[Barrels] ADD  CONSTRAINT [DF_Barrels_IsDeletable]  DEFAULT ((1)) FOR [IsDeletable]
GO
ALTER TABLE [dbo].[Barrels] ADD  CONSTRAINT [DF_Barrels_UpdatedDate]  DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Barrels] ADD  DEFAULT ((0)) FOR [CurrentAlcPercent]
GO
ALTER TABLE [dbo].[Barrels] ADD  DEFAULT ((0)) FOR [RealPercent]
GO
ALTER TABLE [dbo].[Beverages] ADD  DEFAULT ((0)) FOR [IsMix]
GO
ALTER TABLE [dbo].[Beverages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Companies] ADD  CONSTRAINT [DF_Companies_CompanyTypeID]  DEFAULT ((1)) FOR [CompanyTypeID]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[OperationDefinitions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OperationDefinitions] ADD  DEFAULT ((0)) FOR [PreserveBarrelState]
GO
ALTER TABLE [dbo].[OperationDefinitions] ADD  DEFAULT ((0)) FOR [TypeCodeMask]
GO
ALTER TABLE [dbo].[OperationDefinitions] ADD  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[Operations] ADD  CONSTRAINT [DF_Operations_ExecutedByUserID]  DEFAULT ((2)) FOR [ExecutedByUserID]
GO
ALTER TABLE [dbo].[Operations] ADD  CONSTRAINT [DF_Operations_OperationDefID]  DEFAULT ((1)) FOR [OperationDefID]
GO
ALTER TABLE [dbo].[Operations] ADD  CONSTRAINT [DF_Operations_Math]  DEFAULT ('+') FOR [Math]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((11)) FOR [AllowedProductsMask]
GO
ALTER TABLE [dbo].[Barrels]  WITH CHECK ADD  CONSTRAINT [FK_Barrels_Beverages] FOREIGN KEY([BeverageID])
REFERENCES [dbo].[Beverages] ([BeverageID])
GO
ALTER TABLE [dbo].[Barrels] CHECK CONSTRAINT [FK_Barrels_Beverages]
GO
ALTER TABLE [dbo].[Barrels]  WITH NOCHECK ADD  CONSTRAINT [FK_Barrels_Company] FOREIGN KEY([CompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Barrels] CHECK CONSTRAINT [FK_Barrels_Company]
GO
ALTER TABLE [dbo].[Beverages]  WITH NOCHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BeverageCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Beverages]  WITH NOCHECK ADD FOREIGN KEY([ColorID])
REFERENCES [dbo].[BeverageColors] ([ColorID])
GO
ALTER TABLE [dbo].[Beverages]  WITH NOCHECK ADD FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[BeverageProductTypes] ([ProductTypeID])
GO
ALTER TABLE [dbo].[Beverages]  WITH NOCHECK ADD FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[BeverageSubCategories] ([SubCategoryID])
GO
ALTER TABLE [dbo].[Beverages]  WITH NOCHECK ADD FOREIGN KEY([SweetnessID])
REFERENCES [dbo].[BeverageSweetnessLevels] ([SweetnessID])
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD FOREIGN KEY([CompanyTypeID])
REFERENCES [dbo].[CompanyTypes] ([CompanyTypeID])
GO
ALTER TABLE [dbo].[Operations]  WITH NOCHECK ADD  CONSTRAINT [FK_Operations_Barrel] FOREIGN KEY([BarrelID])
REFERENCES [dbo].[Barrels] ([BarrelID])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_Barrel]
GO
ALTER TABLE [dbo].[Operations]  WITH NOCHECK ADD  CONSTRAINT [FK_Operations_SourceBarrel] FOREIGN KEY([SourceBarrelID])
REFERENCES [dbo].[Barrels] ([BarrelID])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_SourceBarrel]
GO
ALTER TABLE [dbo].[Operations]  WITH NOCHECK ADD  CONSTRAINT [FK_Operations_SourceCompany] FOREIGN KEY([SourceCompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_SourceCompany]
GO
ALTER TABLE [dbo].[Barrels]  WITH NOCHECK ADD  CONSTRAINT [CHK_Barrels_Year_Range] CHECK  (([Year]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Barrels] CHECK CONSTRAINT [CHK_Barrels_Year_Range]
GO
ALTER TABLE [dbo].[Barrels]  WITH NOCHECK ADD  CONSTRAINT [CHK_CurrentVolume_Positive] CHECK  (([CurrentVolume]>=(0)))
GO
ALTER TABLE [dbo].[Barrels] CHECK CONSTRAINT [CHK_CurrentVolume_Positive]
GO
ALTER TABLE [dbo].[Operations]  WITH NOCHECK ADD  CONSTRAINT [CHK_VolumeLeft_Positive] CHECK  (([VolumeLeft]>=(0)))
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [CHK_VolumeLeft_Positive]
GO
ALTER TABLE [dbo].[Operations]  WITH NOCHECK ADD  CONSTRAINT [CK__Operation__Harve__59FA5E80] CHECK  (([HarvestYear]>=(0) AND [HarvestYear]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [CK__Operation__Harve__59FA5E80]
GO
ALTER TABLE [dbo].[Operations]  WITH NOCHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Operations]  WITH NOCHECK ADD CHECK  (([Quantity]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[BarrelBeverageEdit]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BarrelBeverageEdit]
    @BarrelID INT,
    @NewBeverageID INT,
    @NewYear INT,
    @UpdatedByUserID INT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. ისტორიის და კომპანიის ID-ს წამოღება
    DECLARE @IsDeletable BIT, @CompanyID INT;
    SELECT @IsDeletable = IsDeletable, @CompanyID = CompanyID 
    FROM [dbo].[Barrels] WHERE BarrelID = @BarrelID;

    IF @IsDeletable = 0
    BEGIN
        RAISERROR(N'სასმელის ტიპის შეცვლა შესაძლებელია მხოლოდ ისტორიის არმქონე კასრისთვის.', 16, 1);
        RETURN;
    END

    -- 2. ახალი სასმელის ტიპის გარკვევა
    DECLARE @NewBitValue INT, @NewTypeCode NVARCHAR(20);
    SELECT 
        @NewBitValue = PT.BitValue,
        @NewTypeCode = PT.TypeCode
    FROM Beverages B
    JOIN BeverageProductTypes PT ON B.ProductTypeID = PT.ProductTypeID
    WHERE B.BeverageID = @NewBeverageID; -- ✅ სწორი პარამეტრი

    -- 3. დუბლირების შემოწმება რედაქტირებისას (მხოლოდ ღვინის პროდუქტებში)
    IF (@NewBitValue & 11) > 0
    BEGIN
        IF EXISTS (
            SELECT 1 FROM [dbo].[Barrels] 
            WHERE CompanyID = @CompanyID 
              AND BeverageID = @NewBeverageID 
              AND Year = @NewYear 
              AND IsActive = 1 
              AND BarrelID != @BarrelID -- საკუთარ თავს არ ვადარებთ
        )
        BEGIN
            RAISERROR(N'შეცდომა: სხვა აქტიური კასრი ამ პარამეტრებით უკვე არსებობს.', 16, 1);
            RETURN;
        END
    END

    -- 4. განახლება
    UPDATE [dbo].[Barrels]
    SET 
        BeverageID = @NewBeverageID,
        Year = @NewYear,
        ProductTypeBitValue = @NewBitValue,
        ProductTypeCode = @NewTypeCode,
        UpdatedByUserID = @UpdatedByUserID,
        UpdatedDate = SYSDATETIME()
    WHERE BarrelID = @BarrelID;

    SET @Message = N'მონაცემები წარმატებით შეიცვალა.';
END
GO
/****** Object:  StoredProcedure [dbo].[BarrelCreate]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BarrelCreate]
    @CompanyID INT,
    @BeverageID INT,
    @Year INT,
    @CreatedByUserID INT,
    @NewBarrelID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. წამოვიღოთ სასმელის ტიპის ინფორმაცია
    DECLARE @BitValue INT, @TypeCode NVARCHAR(20);

    SELECT 
        @BitValue = PT.BitValue,
        @TypeCode = PT.TypeCode
    FROM Beverages B
    JOIN BeverageProductTypes PT ON B.ProductTypeID = PT.ProductTypeID
    WHERE B.BeverageID = @BeverageID; -- ✅ სწორი პარამეტრი

    -- 2. დუბლირების შემოწმება (მხოლოდ ღვინის ტიპებისთვის)
    IF (@BitValue & 11) > 0
    BEGIN
        IF EXISTS (
            SELECT 1 FROM [dbo].[Barrels] 
            WHERE CompanyID = @CompanyID 
              AND BeverageID = @BeverageID 
              AND Year = @Year 
              AND IsActive = 1
        )
        BEGIN
            RAISERROR(N'შეცდომა: ამ პარამეტრებით აქტიური კასრი უკვე არსებობს კომპანიაში.', 16, 1);
            RETURN;
        END
    END

    -- 3. ინსერტი
    INSERT INTO [dbo].[Barrels] (
        CompanyID, BeverageID, Year, CreatedByUserID, 
        ProductTypeBitValue, ProductTypeCode, IsActive, 
        IsDeletable, CurrentVolume, CreatedDate, UpdatedDate
    )
    VALUES (
        @CompanyID, @BeverageID, @Year, @CreatedByUserID,
        @BitValue, @TypeCode, 1,
        1, 0, GETDATE(), GETDATE()
    );

    SET @NewBarrelID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[GetFilteredCompanyForTransfer]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFilteredCompanyForTransfer]
    @BarrelID INT -- მიმღები (სამიზნე) კასრი, რომელშიც ვასხამთ
AS
BEGIN
    SET NOCOUNT ON; -- წარმადობის გასაუმჯობესებლად

    -- საბაზისო ვალიდაცია
    IF @BarrelID IS NULL OR @BarrelID <= 0
    BEGIN RETURN; END

    DECLARE @BaseCompanyID INT, @BaseBeverageID INT, @BaseCategoryID INT,
            @BaseSubCategoryID INT, @BaseYear INT, @ProductBitValue INT;

    -- 1. მიმღები (სამიზნე) კასრის მახასიათებლების წამოღება
    SELECT
        @BaseCompanyID = b.CompanyID,
        @BaseBeverageID = b.BeverageID,
        @BaseCategoryID = bev.CategoryID,
        @BaseSubCategoryID = bev.SubCategoryID,
        @BaseYear = b.Year,
        @ProductBitValue = b.ProductTypeBitValue -- მიმღები კასრის სასმელის მასკი
    FROM Barrels b
    JOIN Beverages bev ON b.BeverageID = bev.BeverageID
    WHERE b.BarrelID = @BarrelID
    AND b.IsActive = 1; -- ფილტრი: მიმღები კასრი უნდა იყოს აქტიური

    -- თუ მიმღები კასრი ვერ მოიძებნა ან არაა აქტიური
    IF @BaseCompanyID IS NULL 
    BEGIN
        RETURN; -- ვაბრუნებთ ცარიელ შედეგს
    END

    -- 2. წყარო კომპანიების მოძებნა
    -- აბრუნებს იმ კომპანიებს, რომლებსაც აქვთ აქტიური კასრები დადებითი ნაშთით
    -- და რომლებშიც ასხია ჩვენი მიმღები კასრის თავსებადი სასმელი.
    -- გამორიცხავს თავად იმ კომპანიას, სადაც მიმღები კასრი დგას.
    SELECT
        c.CompanyID,
        c.Name + N' (' + CAST(COUNT(DISTINCT b.BarrelID) AS NVARCHAR) + N' კასრი)' AS NameWithCount
    FROM Barrels b
    JOIN Companies c ON b.CompanyID = c.CompanyID
    JOIN Beverages bev ON b.BeverageID = bev.BeverageID
    WHERE b.IsActive = 1 -- წყარო კასრი უნდა იყოს აქტიური
      AND c.IsActive = 1 -- წყარო კომპანია უნდა იყოს აქტიური
      AND b.CompanyID != @BaseCompanyID -- გამოვრიცხოთ ჩვენი (მიმღები) კომპანია
      AND ISNULL(b.CurrentVolume, 0) > 0 -- წყარო კასრში უნდა იყოს რაიმე ნაშთი (რომ გადმოვიტანოთ)
      
      -- ✅ უნივერსალური წესი:
      -- თუ არის ღვინო/ცქრიალა, მოსავლის წელი უნდა ემთხვეოდეს. თუ სპირტია, წელი დავაიგნოროთ.
      AND (
            (((@ProductBitValue & 11) > 0) AND b.Year = @BaseYear) -- ღვინის შემთხვევეაში
            OR 
            ((@ProductBitValue & 20) > 0) -- სპირტის შემთხვევაში
      )
      
      -- წყარო კასრში უნდა ესხას ზუსტად იგივე სასმელი, რაც მიმღებ კასრში
      AND (
            b.BeverageID = @BaseBeverageID 
      )
    GROUP BY c.CompanyID, c.Name
    ORDER BY c.Name ASC; -- სორტირება ინტერფეისისთვის (UI)
END
GO
/****** Object:  StoredProcedure [dbo].[Spirit_AddDistilationPlus]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Spirit_AddDistilationPlus]
    @BarrelID INT,
    @OperationDefID INT,
    @Quantity DECIMAL(10,2),    
    @DocumentTypeID INT,
    @DocumentNumber NVARCHAR(50),
    @ExecutedByUserID INT = NULL,
    @TransactionDate DATE,
    @AlcPercent DECIMAL(5,2),   
    @AlcLossVolume DECIMAL(10,2), 
    @AlcLossPercent DECIMAL(5,2), 
    @OppositeBarrelID INT,      
    @CreatedDate DATETIME,
    
    @BeverageID INT = NULL, -- 🆕 დაემატა წყარო სასმელის პარამეტრი
    
    @NewOperationID INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @BeverageID IS NULL
    BEGIN
        SELECT @BeverageID = BeverageID FROM Barrels WHERE BarrelID = @BarrelID;
    END
    
    IF @Quantity IS NULL OR @Quantity <= 0 THROW 50001, N'შეცდომა: რაოდენობა უნდა იყოს დადებითი რიცხვი', 1
    IF @TransactionDate IS NULL THROW 50002, N'შეცდომა: გთხოვთ მიუთითოთ თარიღი', 1

    -- ღვინის კასრებზე სპირტის ოპერაციების დაბლოკვა
    IF NOT EXISTS (
        SELECT 1 FROM Barrels b 
        JOIN Beverages bev ON b.BeverageID = bev.BeverageID
        JOIN BeverageProductTypes pt ON bev.ProductTypeID = pt.ProductTypeID
        WHERE b.BarrelID = @BarrelID AND (pt.BitValue & 20) > 0 -- სპირტის კასრი
    ) THROW 50007, N'შეცდომა: ეს ოპერაცია ნებადართულია მხოლოდ სპირტის კასრებისთვის', 1

    INSERT INTO Operations (
        BarrelID, BeverageID, OperationDefID, HarvestYear, Quantity, TransactionDate, WeightedAvgDate,
        DocumentTypeID, DocumentNumber, ExecutedByUserID, CreatedDate,
        Math, AlcPercent, AlcLossVolume, AlcLossPercent, SourceBarrelID, SourceCompanyID,
        PureAPercent, YearAPercent, OperName
    )
    VALUES (
        @BarrelID, @BeverageID, @OperationDefID, 0, @Quantity, @TransactionDate, @TransactionDate, 
        @DocumentTypeID, @DocumentNumber, @ExecutedByUserID, @CreatedDate,
        '+', 100.00, @AlcLossVolume, @AlcLossPercent, @OppositeBarrelID, 
        (SELECT CompanyID FROM Barrels WHERE BarrelID = @OppositeBarrelID),
        100.00, NULL, (SELECT Name FROM OperationDefinitions WHERE OperationDefID = @OperationDefID)
    );

    SET @NewOperationID = SCOPE_IDENTITY();
    EXEC dbo.LogOperationChanges @OperationID = @NewOperationID, @Action = 'INSERT';
    EXEC dbo.Spirit_RecalculateRippleEffect @StartBarrelID = @BarrelID, @ChangeDate = @TransactionDate;
END
GO
/****** Object:  StoredProcedure [dbo].[Spirit_AddOperationMinus]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Spirit_AddOperationMinus]
    @BarrelID INT, @OperationDefID INT, @Quantity DECIMAL(10,2), @DocumentTypeID INT, @DocumentNumber NVARCHAR(50), 
    @ExecutedByUserID INT = NULL, @TransactionDate DATE, @OppositeBarrelID INT = NULL, @OppositeCompanyID INT = NULL, 
    @CreatedDate DATETIME, @NewOperationID INT OUTPUT, @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 🆕 ვიგებთ, ვინმემ ხომ არ გაგვიხსნა ტრანზაქცია გარედან
    DECLARE @TranStarted BIT = 0;
    IF @@TRANCOUNT = 0
    BEGIN
        BEGIN TRANSACTION;
        SET @TranStarted = 1;
    END

    BEGIN TRY
        IF @Quantity IS NULL OR @Quantity <= 0 THROW 50001, N'შეცდომა: რაოდენობა უნდა იყოს დადებითი რიცხვი', 1
        IF @TransactionDate IS NULL THROW 50002, N'შეცდომა: გთხოვთ მიუთითოთ თარიღი', 1

        IF NOT EXISTS (
            SELECT 1 FROM Barrels b JOIN Beverages bev ON b.BeverageID = bev.BeverageID
            JOIN BeverageProductTypes pt ON bev.ProductTypeID = pt.ProductTypeID
            WHERE b.BarrelID = @BarrelID AND (pt.BitValue & 20) > 0 -- სპირტის კასრი
        ) THROW 50007, N'შეცდომა: ეს ოპერაცია ნებადართულია მხოლოდ სპირტის კასრებისთვის', 1

        DECLARE @OperMath CHAR(1), @OperType INT, @OperName NVARCHAR(100);
        SELECT @OperMath = Math, @OperType = OperType, @OperName = CASE WHEN OperType = 1 THEN Name ELSE NameOpposite END
        FROM OperationDefinitions WHERE OperationDefID = @OperationDefID AND IsActive = 1;

        IF @OperMath IS NULL THROW 50003, N'შეცდომა: არასწორი ოპერაცია.', 1
        IF (@OperType = 1 AND @OperMath <> '-') OR (@OperType > 1 AND @OperMath <> '+') THROW 50004, N'შეცდომა: ნიშანი არ ემთხვევა.', 1

        DECLARE @ExistingVolume DECIMAL(10,2);
        SELECT TOP 1 @ExistingVolume = VolumeLeft FROM Operations
        WHERE BarrelID = @BarrelID AND TransactionDate <= @TransactionDate
        ORDER BY TransactionDate DESC, CalcOrder ASC, OperationID DESC;

        IF ISNULL(@ExistingVolume, 0) < @Quantity THROW 50005, N'შეცდომა: კასრში არასაკმარისი ნაშთია ამ თარიღისთვის', 1

        DECLARE @ConflictDate DATE, @ConflictVolume DECIMAL(10,2);
        SELECT TOP 1 @ConflictDate = TransactionDate, @ConflictVolume = VolumeLeft
        FROM Operations WHERE BarrelID = @BarrelID AND TransactionDate >= @TransactionDate AND VolumeLeft < @Quantity
        ORDER BY TransactionDate ASC, CalcOrder ASC;

        IF @ConflictDate IS NOT NULL
        BEGIN
             DECLARE @ErrMsg NVARCHAR(MAX) = N'შეცდომა: ოპერაცია გამოიწვევს უარყოფით ნაშთს (' + CAST(@ConflictVolume AS NVARCHAR) + N' - ' + CAST(@Quantity AS NVARCHAR) + N') თარიღზე: ' + CONVERT(NVARCHAR(10), @ConflictDate, 120);
             THROW 50006, @ErrMsg, 1
        END

        DECLARE @BeverageID INT, @HarvestYear INT, @OppositeCompanyID_Final INT;
        SELECT @BeverageID = BeverageID, @HarvestYear = Year FROM Barrels WHERE BarrelID = @BarrelID;
        IF @OppositeBarrelID IS NOT NULL SELECT @OppositeCompanyID_Final = CompanyID FROM Barrels WHERE BarrelID = @OppositeBarrelID;

        DECLARE @CurrentAvgDate DATE, @YearPercentage DECIMAL(7,2), @PurePercentage DECIMAL(7,2);
        SELECT TOP 1 @CurrentAvgDate = WeightedAvgDate, @YearPercentage = YearPercentage, @PurePercentage = PurePercentage
        FROM Operations WHERE BarrelID = @BarrelID AND TransactionDate <= @TransactionDate
        ORDER BY TransactionDate DESC, CalcOrder ASC, OperationID DESC;

        INSERT INTO Operations (
            BarrelID, DocumentNumber, BeverageID, HarvestYear, Quantity, TransactionDate, ExecutedByUserID, 
            OperationDefID, DocumentTypeID, YearPercentage, PurePercentage, VolumeLeft, SourceCompanyID, 
            SourceBarrelID, WeightedAvgDate, Math, YearAPercent, PureAPercent, OperName, CreatedDate, AlcPercent
        ) VALUES (
            @BarrelID, @DocumentNumber, @BeverageID, ISNULL(@HarvestYear, 0), @Quantity, @TransactionDate, 
            @ExecutedByUserID, @OperationDefID, @DocumentTypeID, @YearPercentage, ISNULL(@PurePercentage, 100.00), 
            @ExistingVolume, CASE WHEN @OperType > 1 THEN @OppositeCompanyID_Final ELSE NULL END,
            CASE WHEN @OperType > 1 THEN @OppositeBarrelID ELSE NULL END, @CurrentAvgDate,
            '-', NULL, 100.00, @OperName, @CreatedDate, 100.00
        );

        SET @NewOperationID = SCOPE_IDENTITY();
        EXEC dbo.LogOperationChanges @OperationID = @NewOperationID, @Action = 'INSERT';
        EXEC dbo.Spirit_RecalculateRippleEffect @StartBarrelID = @BarrelID, @ChangeDate = @TransactionDate;

        -- 🆕 ვადასტურებთ ტრანზაქციას მხოლოდ იმ შემთხვევაში, თუ ჩვენ გავხსენით
        IF @TranStarted = 1 COMMIT TRANSACTION;
        SET @Message = N'სპირტის ოპერაცია წარმატებით დაემატა';

    END TRY
    BEGIN CATCH
        -- 🆕 ვაუქმებთ მხოლოდ იმ შემთხვევაში, თუ ჩვენ გავხსენით
        IF @TranStarted = 1 AND @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        DECLARE @ActualErr NVARCHAR(MAX) = ERROR_MESSAGE();
        IF @ActualErr LIKE '%CHK_VolumeLeft_Positive%' SET @Message = N'შეცდომა: ოპერაცია იწვევს უარყოფით ნაშთს (Constraint).';
        ELSE SET @Message = @ActualErr;

        EXEC dbo.LogError @ErrorMessage = @Message, @ProcedureName = 'Spirit_AddOperationMinus';
        -- აქ THROW აღარაა, სისტემა მშვიდობიანად უბრუნებს Message-ს მთავარ პროცედურას!
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Spirit_AddOperationPlus]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Spirit_AddOperationPlus]
    @BarrelID INT,
    @OperationDefID INT,
    @Quantity DECIMAL(10,2),
    @DocumentTypeID INT,
    @DocumentNumber NVARCHAR(50),
    @ExecutedByUserID INT = NULL,
    @TransactionDate DATE,
    @HarvestYear INT = NULL,
    @WeightedAvgDate DATE = NULL, 
    @OppositeBarrelID INT = NULL,
    @CreatedDate DATETIME,
    @AlcPercent DECIMAL(5,2) = 100.00, 
    @BeverageID INT = NULL, 
    
    @IncomingAvgDate DATE = NULL, -- 🆕 ახალი პარამეტრი: შემომავალი სითხის ასაკი
    
    @NewOperationID INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

        -- 1. ვალიდაციები
    IF @Quantity IS NULL OR @Quantity <= 0 THROW 50001, N'შეცდომა: რაოდენობა უნდა იყოს დადებითი რიცხვი', 1
    IF @TransactionDate IS NULL THROW 50002, N'შეცდომა: გთხოვთ მიუთითოთ თარიღი', 1
    IF @BeverageID IS NULL SELECT @BeverageID = BeverageID FROM Barrels WHERE BarrelID = @BarrelID;
    
    -- ღვინის კასრებზე სპირტის ოპერაციების დაბლოკვა
    IF NOT EXISTS (
        SELECT 1 FROM Barrels b JOIN Beverages bev ON b.BeverageID = bev.BeverageID
        JOIN BeverageProductTypes pt ON bev.ProductTypeID = pt.ProductTypeID
        WHERE b.BarrelID = @BarrelID AND (pt.BitValue & 20) > 0 -- სპირტის კასრი
    ) THROW 50007, N'შეცდომა: ეს ოპერაცია ნებადართულია მხოლოდ სპირტის კასრებისთვის', 1

    INSERT INTO Operations (
        BarrelID, BeverageID, OperationDefID, HarvestYear, Quantity, TransactionDate, WeightedAvgDate,
        DocumentTypeID, DocumentNumber, ExecutedByUserID, CreatedDate,
        Math, PureAPercent, AlcPercent, SourceBarrelID, SourceCompanyID, YearAPercent, OperName,
        IncomingAvgDate -- 🆕 ახალი ველი
    )
    VALUES (
        @BarrelID, @BeverageID, @OperationDefID, ISNULL(@HarvestYear, 0), @Quantity, @TransactionDate, @WeightedAvgDate,
        @DocumentTypeID, @DocumentNumber, @ExecutedByUserID, @CreatedDate,
        '+', @AlcPercent, @AlcPercent, @OppositeBarrelID, 
        (SELECT CompanyID FROM Barrels WHERE BarrelID = @OppositeBarrelID), 
        NULL, (SELECT Name FROM OperationDefinitions WHERE OperationDefID = @OperationDefID),
        ISNULL(@IncomingAvgDate, @TransactionDate) -- 🆕 ჩაწერა (თუ არ მოვიდა, მაშინ ოპერაციის თარიღი)
    );

    SET @NewOperationID = SCOPE_IDENTITY();
    EXEC dbo.LogOperationChanges @OperationID = @NewOperationID, @Action = 'INSERT';
    EXEC dbo.Spirit_RecalculateRippleEffect @StartBarrelID = @BarrelID, @ChangeDate = @TransactionDate;
END
GO
/****** Object:  StoredProcedure [dbo].[Spirit_ExecuteOperation]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Spirit_ExecuteOperation]
    @OperationDefID INT,
    @BarrelID INT,
    @Quantity DECIMAL(10,2),
    @TransactionDate DATE,
    @WineAlcPercent DECIMAL(5,2) = NULL, 
    @LossPercent DECIMAL(5,2) = NULL,    
    @OppositeBarrelID INT = NULL,  
    @DocumentNumber NVARCHAR(50),
    @DocumentTypeID INT,
    @ExecutedByUserID INT,
    @RealPercent DECIMAL(5, 2) = NULL,
    @NewOperationID INT OUTPUT,
    @Message NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @CreatedDate DATETIME = GETDATE();
    DECLARE @OperType INT, @Math CHAR(1);

    SELECT @OperType = OperType, @Math = Math 
    FROM OperationDefinitions WHERE OperationDefID = @OperationDefID AND IsActive = 1;

    -- 🆕 ტრანზაქციის გახსნა ჭკვიანურად
    DECLARE @TranStarted BIT = 0;
    IF @@TRANCOUNT = 0
    BEGIN
        BEGIN TRANSACTION;
        SET @TranStarted = 1;
    END

    BEGIN TRY
        -- 1. დისტილაცია (OperType 5)
        IF @OperType = 5
        BEGIN
            DECLARE @SourceWineBeverageID INT;
            SELECT @SourceWineBeverageID = BeverageID FROM Barrels WHERE BarrelID = @OppositeBarrelID;

            DECLARE @AA_Qty DECIMAL(10,2) = (@Quantity * @WineAlcPercent / 100.0) * (1.0 - @LossPercent / 100.0);
            DECLARE @AA_Loss DECIMAL(10,2) = (@Quantity * @WineAlcPercent / 100.0) * (@LossPercent / 100.0);

            DECLARE @MinusID INT, @PlusID INT;
            
            EXEC dbo.AddOperationMinus 
                 @BarrelID = @OppositeBarrelID, @OperationDefID = @OperationDefID, @Quantity = @Quantity, 
                 @TransactionDate = @TransactionDate, @DocumentTypeID = @DocumentTypeID, 
                 @DocumentNumber = @DocumentNumber, @OppositeBarrelID = @BarrelID, 
                 @CreatedDate = @CreatedDate, @ExecutedByUserID = @ExecutedByUserID, 
                 @NewOperationID = @MinusID OUTPUT, @Message = @Message OUTPUT;

            -- 🔴 თუ მინუსმა დაერორდა, ვაჩერებთ ყველაფერს და ვაბრუნებთ ლამაზ ტექსტს!
            IF @MinusID IS NULL
            BEGIN
                IF @TranStarted = 1 ROLLBACK TRANSACTION;
                RETURN;
            END

            EXEC dbo.Spirit_AddDistilationPlus 
                 @BarrelID = @BarrelID, @OperationDefID = @OperationDefID, @Quantity = @AA_Qty, 
                 @AlcPercent = @WineAlcPercent, @AlcLossVolume = @AA_Loss, @AlcLossPercent = @LossPercent, 
                 @OppositeBarrelID = @OppositeBarrelID, @TransactionDate = @TransactionDate, 
                 @DocumentTypeID = @DocumentTypeID, @DocumentNumber = @DocumentNumber, 
                 @CreatedDate = @CreatedDate, @ExecutedByUserID = @ExecutedByUserID,
                 @BeverageID = @SourceWineBeverageID,
                 @NewOperationID = @PlusID OUTPUT, @Message = @Message OUTPUT;

            IF @PlusID IS NULL
            BEGIN
                IF @TranStarted = 1 ROLLBACK TRANSACTION;
                RETURN;
            END

            UPDATE Operations SET LinkedOperationID = @PlusID, AlcPercent = @WineAlcPercent WHERE OperationID = @MinusID;
            UPDATE Operations SET LinkedOperationID = @MinusID WHERE OperationID = @PlusID;
            
            SET @NewOperationID = @PlusID;
        END

        -- 2. სპირტის შიდა გადატანები (OperType 2, 3, 4)
        ELSE IF @OperType IN (2, 3, 4)
        BEGIN
            DECLARE @SourceAvgDate DATE;
            DECLARE @SourceSpiritBeverageID INT;
            SELECT @SourceSpiritBeverageID = BeverageID FROM Barrels WHERE BarrelID = @OppositeBarrelID;

            -- 🆕 წყაროს ისტორიული ასაკის ამოღება
            SELECT TOP 1 @SourceAvgDate = WeightedAvgDate FROM Operations
            WHERE BarrelID = @OppositeBarrelID AND TransactionDate <= @TransactionDate
            ORDER BY TransactionDate DESC, CalcOrder ASC, OperationID DESC;

            DECLARE @SpMinusID INT, @SpPlusID INT;

            EXEC dbo.Spirit_AddOperationMinus 
                 @BarrelID = @OppositeBarrelID, @OperationDefID = @OperationDefID, @Quantity = @Quantity, 
                 @TransactionDate = @TransactionDate, @DocumentTypeID = @DocumentTypeID, 
                 @DocumentNumber = @DocumentNumber, @OppositeBarrelID = @BarrelID, 
                 @CreatedDate = @CreatedDate, @ExecutedByUserID = @ExecutedByUserID, 
                 @NewOperationID = @SpMinusID OUTPUT, @Message = @Message OUTPUT;

            -- 🔴 დაცვა გაჭედვაზე
            IF @SpMinusID IS NULL
            BEGIN
                IF @TranStarted = 1 ROLLBACK TRANSACTION;
                RETURN;
            END

            EXEC dbo.Spirit_AddOperationPlus 
                 @BarrelID = @BarrelID, @OperationDefID = @OperationDefID, @Quantity = @Quantity, 
                 @TransactionDate = @TransactionDate, @WeightedAvgDate = @SourceAvgDate, 
                 @DocumentTypeID = @DocumentTypeID, @DocumentNumber = @DocumentNumber, 
                 @OppositeBarrelID = @OppositeBarrelID, @CreatedDate = @CreatedDate, 
                 @ExecutedByUserID = @ExecutedByUserID, @BeverageID = @SourceSpiritBeverageID,
                 @IncomingAvgDate = @SourceAvgDate, -- 🆕 აქ ვაწვდით ძველ ასაკს ახალ ველში ჩასაწერად!
                 @NewOperationID = @SpPlusID OUTPUT, @Message = @Message OUTPUT;

            IF @SpPlusID IS NULL
            BEGIN
                IF @TranStarted = 1 ROLLBACK TRANSACTION;
                RETURN;
            END

            UPDATE Operations SET LinkedOperationID = @SpPlusID WHERE OperationID = @SpMinusID;
            UPDATE Operations SET LinkedOperationID = @SpMinusID WHERE OperationID = @SpPlusID;
            
            SET @NewOperationID = @SpPlusID;
        END

        -- 3. ცალმხრივი
        ELSE IF @OperType = 1
        BEGIN
            IF @Math = '+'
                EXEC dbo.Spirit_AddOperationPlus 
                     @BarrelID = @BarrelID, @OperationDefID = @OperationDefID, @Quantity = @Quantity, 
                     @TransactionDate = @TransactionDate, @WeightedAvgDate = @TransactionDate,
                     @DocumentTypeID = @DocumentTypeID, @DocumentNumber = @DocumentNumber, 
                     @CreatedDate = @CreatedDate, @ExecutedByUserID = @ExecutedByUserID, 
                     @NewOperationID = @NewOperationID OUTPUT, @Message = @Message OUTPUT;
            ELSE
                EXEC dbo.Spirit_AddOperationMinus 
                     @BarrelID = @BarrelID, @OperationDefID = @OperationDefID, @Quantity = @Quantity, 
                     @TransactionDate = @TransactionDate, @DocumentTypeID = @DocumentTypeID, 
                     @DocumentNumber = @DocumentNumber, @CreatedDate = @CreatedDate, 
                     @ExecutedByUserID = @ExecutedByUserID, @NewOperationID = @NewOperationID OUTPUT, 
                     @Message = @Message OUTPUT;
                     
        END
        -- 🆕 გრადუსის განახლება - ტრანზაქციის შიგნით!
        IF @RealPercent IS NOT NULL
        BEGIN
            UPDATE [dbo].[Barrels]
            SET [RealPercent] = @RealPercent
            WHERE [BarrelID] = @BarrelID;
        END

        -- ✅ თუ აქამდე მოვედით მშვიდობით, მხოლოდ ახლა ვაკეთებთ COMMIT-ს
        IF @TranStarted = 1
        BEGIN
            COMMIT TRANSACTION;
        END

    END TRY
    BEGIN CATCH
        -- 🔴 ნებისმიერი შეცდომისას (მათ შორის UPDATE-ისას) - სრული ROLLBACK
        IF @TranStarted = 1 AND @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @Message = ERROR_MESSAGE();
        SET @NewOperationID = NULL; -- უსაფრთხოებისთვის
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Spirit_Get_Data_By_TransDate]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Spirit_Get_Data_By_TransDate]
    @TargetBarrelID INT,  -- მიმღები/სამიზნე კასრი (სპირტის)
    @SourceBarrelID INT,  -- წყარო კასრი (საიდანაც მოგვაქვს)
    @OperType TINYINT,    -- ოპერაციის ტიპი
    @TransactionDate DATE -- ოპერაციის თარიღი
AS
BEGIN
    SET NOCOUNT ON;

    -- ==========================================================================
    -- 1. ვალიდაცია და წყაროს განსაზღვრა
    -- ==========================================================================
    
    -- თუ ოპერაცია არის "შესვლა/გასვლა/კორექტირება" მიმდინარე კასრში
    IF @OperType = 1
    BEGIN
        SET @SourceBarrelID = @TargetBarrelID;
    END
    -- თუ გადატანის ოპერაციაა, მაგრამ წყარო კასრი არ მოუწოდებიათ (ბაგის პრევენცია)
    ELSE IF @SourceBarrelID IS NULL OR @SourceBarrelID <= 0
    BEGIN
        RETURN; 
    END

    -- ცვლადები UI-სთვის
    DECLARE @BeverageID INT, @BeverageName NVARCHAR(255), @ProductType NVARCHAR(100);
    DECLARE @Category NVARCHAR(100), @SubCategory NVARCHAR(100), @Color NVARCHAR(100), @Sweetness NVARCHAR(100);
    DECLARE @VolumeLeft DECIMAL(10,2) = 0;
    DECLARE @MaxAllowedVolume DECIMAL(10,2) = 0; 
    DECLARE @WeightedAvgDate DATE = NULL;
    DECLARE @HarvestYear INT = NULL;

    -- ==========================================================================
    -- 2. წყარო კასრის სტატიკური მონაცემების ამოღება
    -- ==========================================================================
    SELECT TOP 1
        @BeverageID = b.BeverageID,
        @BeverageName = bev.Name,
        @ProductType = pt.Name,
        @Category = cat.Name,
        @SubCategory = subcat.Name,
        @Color = col.Name,
        @Sweetness = sw.Name,
        @HarvestYear = b.Year -- გამოგვადგება, თუ წყარო ღვინოა
    FROM Barrels b
    JOIN Beverages bev ON b.BeverageID = bev.BeverageID
    LEFT JOIN BeverageProductTypes pt ON bev.ProductTypeID = pt.ProductTypeID
    LEFT JOIN BeverageCategories cat ON bev.CategoryID = cat.CategoryID
    LEFT JOIN BeverageSubCategories subcat ON bev.SubCategoryID = subcat.SubCategoryID
    LEFT JOIN BeverageColors col ON bev.ColorID = col.ColorID
    LEFT JOIN BeverageSweetnessLevels sw ON bev.SweetnessID = sw.SweetnessID
    WHERE b.BarrelID = @SourceBarrelID;

    -- ==========================================================================
    -- 3. ისტორიული ნაშთის და ასაკის გამოთვლა (TransactionDate-ისთვის)
    -- ==========================================================================
    SELECT TOP 1
        @VolumeLeft = ISNULL(o.VolumeLeft, 0),
        @WeightedAvgDate = o.WeightedAvgDate 
    FROM Operations o
    WHERE o.BarrelID = @SourceBarrelID 
      AND o.TransactionDate <= @TransactionDate
    -- ✅ გამოყენებულია შენი CalcOrder ველი
    ORDER BY o.TransactionDate DESC, o.CalcOrder ASC, o.OperationID DESC;

    -- ==========================================================================
    -- 4. "მომავლის მინიმალური ნაშთის" (MaxAllowedVolume) დათვლა 
    -- ==========================================================================
    DECLARE @MinFutureVolume DECIMAL(10,2);
    
    SELECT @MinFutureVolume = MIN(VolumeLeft)
    FROM Operations
    WHERE BarrelID = @SourceBarrelID 
      AND TransactionDate >= @TransactionDate;

    -- მინიმალური დასაშვები ნაშთის ლოგიკა
    IF @MinFutureVolume IS NOT NULL AND @MinFutureVolume < ISNULL(@VolumeLeft, 0)
        SET @MaxAllowedVolume = @MinFutureVolume;
    ELSE
        SET @MaxAllowedVolume = ISNULL(@VolumeLeft, 0);

    IF @MaxAllowedVolume < 0 SET @MaxAllowedVolume = 0;

    -- ==========================================================================
    -- 5. მონაცემების დაბრუნება UI-სთვის
    -- ==========================================================================
    SELECT 
        @BeverageID AS BeverageID,
        @BeverageName AS BeverageName,
        @ProductType AS ProductType,
        @Category AS Category,
        @SubCategory AS SubCategory,
        @Color AS Color,
        @Sweetness AS Sweetness,
        @VolumeLeft AS Volume,             
        @MaxAllowedVolume AS MaxAllowed,   
        
        -- თუ გამოხდაა, ვაჩვენებთ ღვინის მოსავლის წელს, სხვა შემთხვევაში სპირტის ასაკს
        CASE WHEN @OperType = 5 THEN CAST(@HarvestYear AS NVARCHAR(10)) ELSE NULL END AS HarvestYear,
        CASE WHEN @OperType <> 5 THEN @WeightedAvgDate ELSE NULL END AS WeightedAvgDate,
        
        100.00 AS PurePercent, 
        -1 AS YearLimit, 
        -1 AS PureLimit, 
        1 AS AllowMix; 
END
GO
/****** Object:  StoredProcedure [dbo].[Spirit_GetFilteredBarrelsForTransfer]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Spirit_GetFilteredBarrelsForTransfer]
    @BarrelID INT,       -- მიმღები (სამიზნე) სპირტის კასრი
    @OperType TINYINT,   -- 2: შიდა შევსება, 3: სხვა კომპანიიდან მიღება, 4: ჩამოხარისხება, 5: გამოხდა
    @OppositeCompanyID INT = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    IF @BarrelID IS NULL OR @BarrelID <= 0 RETURN;
    IF @OperType NOT IN (2, 3, 4, 5) RETURN;
    IF @OperType = 3 AND (@OppositeCompanyID IS NULL OR @OppositeCompanyID <= 0) RETURN;

    -- ✅ მიმღები კასრის POSITION ველები
    DECLARE @DestCompanyID INT, @DestBeverageID INT, --@DestTypeCode NVARCHAR(20),
            @DestPtPosition INT, @DestCatPosition INT,
            @DestSubCatPosition INT, @DestColorPosition INT;
    DECLARE @DestCatMixingMask INT; -- მიმღები კასრის სასმელის შერევის [AllowedMixingMask]-ი

    -- 1. ვიღებთ მიმღები (სპირტის) კასრის მონაცემებს (POSITION-ებით და არა ID-ებით)
    SELECT
        @DestCompanyID = b.CompanyID,
        @DestBeverageID = b.BeverageID,
        --@DestTypeCode = pt.TypeCode,
        @DestPtPosition = ISNULL(pt.Position, 999),
        @DestCatPosition = ISNULL(cat.Position, 999),
        @DestSubCatPosition = ISNULL(subcat.Position, 999),
        @DestColorPosition = ISNULL(col.Position, 999),
        @DestCatMixingMask = ISNULL(cat.AllowedMixingMask,999)
    FROM Barrels b
    JOIN Beverages bev ON b.BeverageID = bev.BeverageID
    LEFT JOIN BeverageProductTypes pt ON bev.ProductTypeID = pt.ProductTypeID
    LEFT JOIN BeverageCategories cat ON bev.CategoryID = cat.CategoryID
    LEFT JOIN BeverageSubCategories subcat ON bev.SubCategoryID = subcat.SubCategoryID
    LEFT JOIN BeverageColors col ON bev.ColorID = col.ColorID
    WHERE b.BarrelID = @BarrelID
    AND b.IsActive = 1;

    IF @DestCompanyID IS NULL RETURN;

    -- ==========================================================================
    -- 2. ლოგიკა ოპერაციის ტიპების მიხედვით
    -- ==========================================================================

    -- CASE 2: შიდა შევსება
    IF @OperType = 2 
    BEGIN
        SELECT
            b.BarrelID,
            bev.Name AS BeverageName,
            b.Year,
            b.CurrentVolume
        FROM Barrels b
        JOIN Beverages bev ON b.BeverageID = bev.BeverageID
        WHERE b.IsActive = 1  -- მხოლოდ აქტიური კასრები
          AND b.CompanyID = @DestCompanyID  -- წყარო კასრი იგივე კომპანიაშია
          AND b.BarrelID != @BarrelID -- წყარო არ შეიძლება იყოს თავად მიმღები
          AND ISNULL(b.CurrentVolume, 0) > 0 -- წყარო კასრი არ შეიძლება იყოს ცარიელი დღევანდელი მონაცემით, რადგან მინუსებში წავა
          AND b.BeverageID = @DestBeverageID -- იგივე სასმელი უნდა იყოს
        ORDER BY bev.Name ASC, b.Year ASC;
    END

    -- CASE 3: გარე მიღება (სხვა კომპანიიდან)
    ELSE IF @OperType = 3 
    BEGIN
        SELECT
            b.BarrelID,
            bev.Name AS BeverageName,
            b.Year,
            b.CurrentVolume
        FROM Barrels b
        JOIN Companies c ON b.CompanyID = c.CompanyID
        JOIN Beverages bev ON b.BeverageID = bev.BeverageID
        WHERE b.IsActive = 1 
          AND c.IsActive = 1
          AND b.CompanyID = @OppositeCompanyID -- წყარო არის გარე კომპანია
          AND ISNULL(b.CurrentVolume, 0) > 0-- წყარო კასრი არ შეიძლება იყოს ცარიელი დღევანდელი მონაცემით, რადგან მინუსებში წავა
          AND b.BeverageID = @DestBeverageID -- იგივე სასმელი უნდა იყოს
        ORDER BY bev.Name ASC, b.Year ASC;
    END

    -- ==========================================================================
    -- ✅ CASE 4: სპირტიდან სასმელის დამზადება (მკაცრად BitMask-ებზე დაყრდნობით)
    -- ==========================================================================
    ELSE IF @OperType = 4 
    BEGIN
        SELECT
            b.BarrelID,
            bev.Name AS BeverageName,
            b.Year,
            b.CurrentVolume
        FROM Barrels b
        JOIN Beverages bev ON b.BeverageID = bev.BeverageID
        LEFT JOIN BeverageProductTypes pt ON bev.ProductTypeID = pt.ProductTypeID
        LEFT JOIN BeverageCategories cat ON bev.CategoryID = cat.CategoryID
        LEFT JOIN BeverageSubCategories subcat ON bev.SubCategoryID = subcat.SubCategoryID
        WHERE b.IsActive = 1 
          AND b.CompanyID = @DestCompanyID
          AND b.BarrelID != @BarrelID
          AND ISNULL(b.CurrentVolume, 0) > 0
          -- 1. არ უნდა იყოს ზუსტად იგივე სასმელი
          AND b.BeverageID != @DestBeverageID 
          
          -- 2. სპირტების შერევის ფილტრი.
          -- აქ ფილტრის პირობა ემყაროს [AllowedMixingMask]-ის კოდს
          AND (cat.BitValue & @DestCatMixingMask) > 0
                       
        ORDER BY bev.Name ASC, b.Year ASC;
    END
    
    -- ==========================================================================
    -- CASE 5: გამოხდა (აქ სპირტის კასრი ეძებს ღვინის კასრებს)
    -- ==========================================================================
    ELSE IF @OperType = 5 
    BEGIN
        SELECT
            b.BarrelID,
            bev.Name AS BeverageName,
            b.Year,
            b.CurrentVolume
        FROM Barrels b
        JOIN Beverages bev ON b.BeverageID = bev.BeverageID
        LEFT JOIN BeverageProductTypes pt ON bev.ProductTypeID = pt.ProductTypeID
        WHERE b.IsActive = 1 
          AND b.CompanyID = @DestCompanyID 
          AND ISNULL(b.CurrentVolume, 0) > 0 
          AND (pt.BitValue & 11) > 0 -- გამოხდა მხოლოდ ღვინო, ცქრიალა, ღვინისეული 
        ORDER BY bev.Name ASC, b.Year ASC;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Spirit_RecalculateBarrel_Cursor_Bulk]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Spirit_RecalculateBarrel_Cursor_Bulk]
    @BarrelID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. კასრის ვალიდაცია
    IF NOT EXISTS (SELECT 1 FROM Barrels WHERE BarrelID = @BarrelID AND IsActive = 1)
        RETURN;

    -- 1.1. თუ ოპერაციები აღარ არსებობს (მაგ: წაშალეს), ვანულებთ კასრს
    IF NOT EXISTS (SELECT 1 FROM Operations WHERE BarrelID = @BarrelID)
    BEGIN
        UPDATE Barrels
        SET CurrentVolume = 0,
            PurePercentage = 0,
            CurrentAlcPercent = 0, 
            WeightedAvgDate = NULL,
            IsDeletable = 1
        WHERE BarrelID = @BarrelID;
        RETURN;
    END

    -- 2. "წინა მდგომარეობის" (Pre) ცვლადები
    DECLARE @PreVolumeLeft      DECIMAL(19,4) = 0;
    DECLARE @PrePureAVolume     DECIMAL(19,4) = 0;
    DECLARE @PreTotalDaysVolume DECIMAL(19,4) = 0; -- ასაკის გამოსათვლელად
    DECLARE @PrePurePercentage  DECIMAL(18,2) = 0;
    DECLARE @PreAvgDate         DATE = NULL;

    DECLARE @PreBeverageID INT;
    SELECT @PreBeverageID = BeverageID FROM Barrels WHERE BarrelID = @BarrelID;

    -- 3. მიმდინარე ოპერაციის ცვლადები
    DECLARE
        @OperationID    INT,
        @Math           CHAR(1),
        @CalcOrder      INT,
        @Quantity       DECIMAL(19,4),
        @BeverageID     INT,
        @OpDate         DATE,
        @IncomingDate   DATE,
        @PureAPercent   DECIMAL(18,2),
        @PureAVolume    DECIMAL(19,4),
        @TotalDaysVolume DECIMAL(19,4),
        @VolumeLeft     DECIMAL(19,4),
        @PurePercentage DECIMAL(18,2),
        @AvgDate        DATE;

    -- 4. დროებითი ცხრილი შუალედური შედეგებისთვის
    CREATE TABLE #TempOps (
        OperationID INT PRIMARY KEY,
        VolumeLeft DECIMAL(19,4),
        PurePercentage DECIMAL(18,2),
        WeightedAvgDate DATE
    );

    -- 5. კურსორი (აქ გასწორდა CalcOrder DESC!)
    DECLARE cur CURSOR LOCAL FAST_FORWARD FOR
    SELECT 
        OperationID, Math, CalcOrder, Quantity, BeverageID, 
        ISNULL(TransactionDate, '2000-01-01'), 
        ISNULL(IncomingAvgDate, TransactionDate),
        ISNULL(PureAPercent, 100)
    FROM Operations WITH (INDEX(IX_Operations_Calculator))
    WHERE BarrelID = @BarrelID
    ORDER BY TransactionDate ASC, CalcOrder DESC, OperationID ASC;

    OPEN cur;
    FETCH NEXT FROM cur INTO
        @OperationID, @Math, @CalcOrder, @Quantity, @BeverageID, @OpDate, @IncomingDate, @PureAPercent;

    -- 6. ოპერაციების დამუშავების ციკლი
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @VolumeLeft = @PreVolumeLeft + @CalcOrder * @Quantity;

        IF @Math = '-'
        BEGIN
            -- მინუსის დროს პროპორციულად ვაკლებთ სუფთა ლიტრებს და "დღეების მოცულობას"
            IF @PreVolumeLeft > 0
            BEGIN
                DECLARE @Ratio DECIMAL(19,10) = @VolumeLeft / @PreVolumeLeft;
                SET @PureAVolume = @PrePureAVolume * @Ratio;
                SET @TotalDaysVolume = @PreTotalDaysVolume * @Ratio;
            END
            ELSE
            BEGIN
                SET @PureAVolume = 0;
                SET @TotalDaysVolume = 0;
            END

            -- პროცენტები და საშუალო თარიღი რჩება იგივე, რაც წინა ოპერაციაში იყო
            SET @PurePercentage = @PrePurePercentage;
            SET @AvgDate = @PreAvgDate;

            -- 🛑 1. რეალური შეცდომის დაჭერა (თუ მინუსი დიდია, ესე იგი ოპერატორს შეეშალა)
            IF @VolumeLeft < 0
            BEGIN
                DECLARE @ErrDate NVARCHAR(20) = CONVERT(NVARCHAR, @OpDate, 120);
                DECLARE @ErrMsg NVARCHAR(MAX) = N'შეცდომა: ოპერაციების ქრონოლოგია იწვევს უარყოფით ნაშთს (' + CAST(@VolumeLeft AS NVARCHAR) + N' ლ) თარიღზე: ' + @ErrDate + N'. გთხოვთ შეამოწმოთ ისტორია.';
                THROW 50010, @ErrMsg, 1;
            END
        END
        ELSE
        BEGIN
            -- პლუსის დროს ვამატებთ ახალ შემოსულ ასაკს (დღეებში)
            SET @TotalDaysVolume = @PreTotalDaysVolume + (@Quantity * DATEDIFF(DAY, '1900-01-01', @IncomingDate));
            
            -- ვამატებთ ალკოჰოლის ლიტრებს (სასმელის BeverageID-ების დამთხვევას აღარ ვითხოვთ!)
            SET @PureAVolume = @PrePureAVolume + (@Quantity * ISNULL(@PureAPercent, 0) / 100.0);

            -- ვითვლით ახალ პროცენტს და ახალ საშუალო თარიღს
            IF @VolumeLeft > 0
            BEGIN
                SET @PurePercentage = 100.0 * @PureAVolume / @VolumeLeft;
                SET @AvgDate = DATEADD(DAY, CAST(@TotalDaysVolume / @VolumeLeft AS INT), '1900-01-01');
            END
            ELSE
            BEGIN
                SET @PurePercentage = 0;
                SET @AvgDate = NULL;
            END

            -- პროცენტის ლიმიტების დაცვა (0-100)
            SET @PurePercentage = CASE 
                WHEN @PurePercentage < 0 THEN 0 
                WHEN @PurePercentage > 100 THEN 100 
                ELSE @PurePercentage 
            END;
        END

        -- ვწერთ შედეგს დროებით ცხრილში
        INSERT INTO #TempOps (OperationID, VolumeLeft, PurePercentage, WeightedAvgDate)
        VALUES (@OperationID, @VolumeLeft, @PurePercentage, @AvgDate);

        -- ვაახლებთ Pre ცვლადებს შემდეგი ბიჯისთვის
        SET @PreVolumeLeft     = @VolumeLeft;
        SET @PrePureAVolume    = @PureAVolume;
        SET @PreTotalDaysVolume = @TotalDaysVolume;
        SET @PrePurePercentage = @PurePercentage;
        SET @PreAvgDate        = @AvgDate;

        FETCH NEXT FROM cur INTO
            @OperationID, @Math, @CalcOrder, @Quantity, @BeverageID, @OpDate, @IncomingDate, @PureAPercent;
    END

    CLOSE cur;
    DEALLOCATE cur;

    -- 7. ერთიანი (Bulk) UPDATE მთავარ Operations ცხრილზე
    UPDATE o
    SET 
        o.VolumeLeft = t.VolumeLeft,
        o.PurePercentage = t.PurePercentage,
        o.WeightedAvgDate = t.WeightedAvgDate
    FROM Operations o
    INNER JOIN #TempOps t ON o.OperationID = t.OperationID;

    -- 8. Barrels ცხრილის განახლება
    UPDATE Barrels SET
        CurrentVolume = @VolumeLeft,
        WeightedAvgDate = CASE WHEN @VolumeLeft <= 0 THEN NULL ELSE @AvgDate END, 
        CurrentAlcPercent = CASE WHEN @VolumeLeft <= 0 THEN 0 ELSE @PurePercentage END, 
        IsDeletable = 0,
        UpdatedDate = GETDATE()
    WHERE BarrelID = @BarrelID;

    DROP TABLE #TempOps;
END
GO
/****** Object:  StoredProcedure [dbo].[Spirit_RecalculateRippleEffect]    Script Date: 4/19/2026 8:53:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Spirit_RecalculateRippleEffect]
    @StartBarrelID INT, 
    @ChangeDate DATE    
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 FROM Barrels b
        JOIN Beverages bev ON b.BeverageID = bev.BeverageID
        JOIN BeverageProductTypes pt ON bev.ProductTypeID = pt.ProductTypeID
        WHERE b.BarrelID = @StartBarrelID
            AND (pt.BitValue & 20) > 0 -- შემოწმება სპიტი და სპირტიან სასმელებზე
    ) RETURN;

    CREATE TABLE #SpiritQueue (
        QueueID INT IDENTITY(1,1) PRIMARY KEY,
        BarrelID INT,
        ProcessFromDate DATE,
        IsProcessed BIT DEFAULT 0
    );

    INSERT INTO #SpiritQueue (BarrelID, ProcessFromDate)
    VALUES (@StartBarrelID, @ChangeDate);

    DECLARE @CurrentID INT, @CurrentDate DATE;

    WHILE EXISTS (SELECT 1 FROM #SpiritQueue WHERE IsProcessed = 0)
    BEGIN
        SELECT TOP 1 @CurrentID = BarrelID, @CurrentDate = ProcessFromDate
        FROM #SpiritQueue 
        WHERE IsProcessed = 0
        ORDER BY QueueID;

        EXEC dbo.Spirit_RecalculateBarrel_Cursor_Bulk @BarrelID = @CurrentID;

        -- ✅ შეცდომა გასწორებულია ამ ბლოკში
        UPDATE dest
        SET 
            dest.HarvestYear = 0, -- მოსავლის წელი სპირტისთვის ყოველთვის 0
            dest.WeightedAvgDate = src.WeightedAvgDate, -- ასაკის თარიღი გადადის შვილობილში
            dest.YearAPercent = src.YearPercentage,
            dest.PureAPercent = src.PurePercentage
        FROM Operations dest
        JOIN Operations src ON dest.LinkedOperationID = src.OperationID
        JOIN Barrels b_dest ON dest.BarrelID = b_dest.BarrelID
        JOIN Beverages bev_dest ON b_dest.BeverageID = bev_dest.BeverageID
        JOIN BeverageProductTypes pt_dest ON bev_dest.ProductTypeID = pt_dest.ProductTypeID
        WHERE src.BarrelID = @CurrentID 
          AND src.Math = '-' 
          AND dest.Math = '+'
          AND src.TransactionDate >= @CurrentDate
          AND (pt_dest.BitValue & 20) > 0; -- <--- აქ ხდება ღვინის იგნორირება 

        INSERT INTO #SpiritQueue (BarrelID, ProcessFromDate)
        SELECT DISTINCT 
            dest.BarrelID,
            dest.TransactionDate
        FROM Operations dest
        JOIN Operations src ON dest.LinkedOperationID = src.OperationID
        JOIN Barrels b_dest ON dest.BarrelID = b_dest.BarrelID
        JOIN Beverages bev_dest ON b_dest.BeverageID = bev_dest.BeverageID
        JOIN BeverageProductTypes pt_dest ON bev_dest.ProductTypeID = pt_dest.ProductTypeID
        WHERE src.BarrelID = @CurrentID
          AND src.Math = '-'
          AND src.TransactionDate >= @CurrentDate
          AND (pt_dest.BitValue & 20) > 0 -- <--- არ გადადის ღვინის კასრზე
          AND dest.BarrelID NOT IN (SELECT BarrelID FROM #SpiritQueue);

        UPDATE #SpiritQueue SET IsProcessed = 1 WHERE BarrelID = @CurrentID;
    END

    DROP TABLE #SpiritQueue;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'სასმელის ტიპის ბიტური მნიშვნელობა (1, 2, 4, 8...) ფილტრაციისთვის' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Barrels', @level2type=N'COLUMN',@level2name=N'ProductTypeBitValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'სპირტიანი სასმელის რეალური გრადუსი (ფაქტიური გაზომვა)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Barrels', @level2type=N'COLUMN',@level2name=N'RealPercent'
GO
