USE [InventoryDB_20260428]
GO
/****** Object:  Table [dbo].[BeverageCategories]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeverageCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TypeCodeMask] [int] NULL,
	[Position] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[BitValue] [int] NULL,
	[AllowedMixingMask] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeverageColors]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeverageColors](
	[ColorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TypeCodeMask] [int] NULL,
	[Position] [int] NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeverageProductTypes]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeverageProductTypes](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TypeCode] [nvarchar](50) NULL,
	[BitValue] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[Position] [int] NULL,
	[ThemeColor] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeverageSubCategories]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeverageSubCategories](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TypeCodeMask] [int] NULL,
	[Position] [int] NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeverageSweetnessLevels]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeverageSweetnessLevels](
	[SweetnessID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TypeCodeMask] [int] NULL,
	[Position] [int] NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SweetnessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyTypes]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyTypes](
	[CompanyTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[DocumentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationDefinitions]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationDefinitions](
	[OperationDefID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Math] [char](1) NOT NULL,
	[OperType] [tinyint] NOT NULL,
	[NameOpposite] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[PreserveBarrelState] [bit] NOT NULL,
	[TypeCodeMask] [int] NULL,
	[Position] [int] NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OperationDefID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationMathTypes]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationMathTypes](
	[Code] [char](1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationTargetTypes]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationTargetTypes](
	[Code] [tinyint] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[TypeCodeMask] [int] NULL,
	[Position] [int] NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PercentList]    Script Date: 5/7/2026 3:59:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PercentList](
	[Value] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BeverageCategories] ON 

INSERT [dbo].[BeverageCategories] ([CategoryID], [Name], [TypeCodeMask], [Position], [Note], [BitValue], [AllowedMixingMask]) VALUES (1, N'დად.', 11, 1, N'ღვინო, ცქრიალა, შუშხუნა', 1, 0)
INSERT [dbo].[BeverageCategories] ([CategoryID], [Name], [TypeCodeMask], [Position], [Note], [BitValue], [AllowedMixingMask]) VALUES (2, N'სხვა', 11, 2, N'ღვინო, ცქრიალა, შუშხუნა', 2, 3)
INSERT [dbo].[BeverageCategories] ([CategoryID], [Name], [TypeCodeMask], [Position], [Note], [BitValue], [AllowedMixingMask]) VALUES (3, N'ღვინის დისტილატი', 4, 3, N'სპირტი', 4, 0)
SET IDENTITY_INSERT [dbo].[BeverageCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[BeverageColors] ON 

INSERT [dbo].[BeverageColors] ([ColorID], [Name], [TypeCodeMask], [Position], [Note]) VALUES (1, N'თეთრი', 11, 4, N'ჩანდეს ყველგან')
INSERT [dbo].[BeverageColors] ([ColorID], [Name], [TypeCodeMask], [Position], [Note]) VALUES (2, N'ქარვისფერი', 11, 3, N'ჩანდეს ყველგან')
INSERT [dbo].[BeverageColors] ([ColorID], [Name], [TypeCodeMask], [Position], [Note]) VALUES (3, N'ვარდისფერი', 11, 2, N'ჩანდეს ყველგან')
SET IDENTITY_INSERT [dbo].[BeverageColors] OFF
GO
SET IDENTITY_INSERT [dbo].[BeverageProductTypes] ON 

INSERT [dbo].[BeverageProductTypes] ([ProductTypeID], [Name], [TypeCode], [BitValue], [Note], [Position], [ThemeColor]) VALUES (1, N'ღვინო', N'WINE', 1, N'WINE - ღვინის ძირითადი ტიპი', 1, N'#ece9e6')
INSERT [dbo].[BeverageProductTypes] ([ProductTypeID], [Name], [TypeCode], [BitValue], [Note], [Position], [ThemeColor]) VALUES (2, N'ღვინისეული', N'WINE-BASED', 8, N'WINE-BASED - ღვინისეული სასმელები', 11, N'#ece9e6')
INSERT [dbo].[BeverageProductTypes] ([ProductTypeID], [Name], [TypeCode], [BitValue], [Note], [Position], [ThemeColor]) VALUES (3, N'ცქრიალა', N'SPARKLING', 2, N'SPARKLING - ცქრიალა ღვინო', 2, N'#ece9e6')
SET IDENTITY_INSERT [dbo].[BeverageProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[BeverageSubCategories] ON 

INSERT [dbo].[BeverageSubCategories] ([SubCategoryID], [Name], [TypeCodeMask], [Position], [Note]) VALUES (1, N'ჯიში', 3, 1, N'ჩანდეს ყველგან')
INSERT [dbo].[BeverageSubCategories] ([SubCategoryID], [Name], [TypeCodeMask], [Position], [Note]) VALUES (2, N'ჯიში-ჯიში', 3, 2, N'ჩანდეს ყველგან')
INSERT [dbo].[BeverageSubCategories] ([SubCategoryID], [Name], [TypeCodeMask], [Position], [Note]) VALUES (3, N'კუპაჟი', 11, 3, N'ჩანდეს ყველგან')
SET IDENTITY_INSERT [dbo].[BeverageSubCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[BeverageSweetnessLevels] ON 

INSERT [dbo].[BeverageSweetnessLevels] ([SweetnessID], [Name], [TypeCodeMask], [Position], [Note]) VALUES (1, N'მშრალი', 11, 1, N'ჩანდეს ყველგან')
INSERT [dbo].[BeverageSweetnessLevels] ([SweetnessID], [Name], [TypeCodeMask], [Position], [Note]) VALUES (2, N'ნახევრად მშრალი', 11, 2, N'ჩანდეს ყველგან')
INSERT [dbo].[BeverageSweetnessLevels] ([SweetnessID], [Name], [TypeCodeMask], [Position], [Note]) VALUES (3, N'ნახევრად ტკბილი', 11, 3, N'ჩანდეს ყველგან')
SET IDENTITY_INSERT [dbo].[BeverageSweetnessLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[CompanyTypes] ON 

INSERT [dbo].[CompanyTypes] ([CompanyTypeID], [Name], [FullName]) VALUES (1, N'ი/მ', N'ი/მ - ინდივიდუალური მეწარმე
')
INSERT [dbo].[CompanyTypes] ([CompanyTypeID], [Name], [FullName]) VALUES (2, N'ს.პ.ს.', N'ს.პ.ს. - სოლიდარული პასუხისმგებლობის საზოგადოება
')
INSERT [dbo].[CompanyTypes] ([CompanyTypeID], [Name], [FullName]) VALUES (3, N'ს.ს.ი.პ.', N'ს.ს.ი.პ. - საჯარო სამართლის იურიდიული პირი')
SET IDENTITY_INSERT [dbo].[CompanyTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentType] ON 

INSERT [dbo].[DocumentType] ([DocumentTypeID], [DocumentName], [IsActive]) VALUES (1, N'განაცხადი', 1)
INSERT [dbo].[DocumentType] ([DocumentTypeID], [DocumentName], [IsActive]) VALUES (2, N'შეტყობინება', 1)
INSERT [dbo].[DocumentType] ([DocumentTypeID], [DocumentName], [IsActive]) VALUES (3, N'ზედნადები', 1)
SET IDENTITY_INSERT [dbo].[DocumentType] OFF
GO
SET IDENTITY_INSERT [dbo].[OperationDefinitions] ON 

INSERT [dbo].[OperationDefinitions] ([OperationDefID], [Name], [Math], [OperType], [NameOpposite], [IsActive], [PreserveBarrelState], [TypeCodeMask], [Position], [Note]) VALUES (1, N'- ( ექსპორტი )', N'-', 1, NULL, 1, 1, 255, 11, N'ჩანდეს ყველგან')
INSERT [dbo].[OperationDefinitions] ([OperationDefID], [Name], [Math], [OperType], [NameOpposite], [IsActive], [PreserveBarrelState], [TypeCodeMask], [Position], [Note]) VALUES (2, N'+ ( კომპანიიდან ყიდვა )', N'+', 3, N'- ( კომპანიაზე გაყიდვა )', 1, 1, 255, 21, N'ღვინო, ცქრიალა, შუშხუნა')
INSERT [dbo].[OperationDefinitions] ([OperationDefID], [Name], [Math], [OperType], [NameOpposite], [IsActive], [PreserveBarrelState], [TypeCodeMask], [Position], [Note]) VALUES (3, N'+ ( სხვა კასრიდან)', N'+', 2, N'- ( სხვა კასრში)', 1, 1, 255, 31, N'ჩანდეს ყველგან')
SET IDENTITY_INSERT [dbo].[OperationDefinitions] OFF
GO
INSERT [dbo].[OperationMathTypes] ([Code], [Description]) VALUES (N'-', N'(-) მოკლება')
INSERT [dbo].[OperationMathTypes] ([Code], [Description]) VALUES (N'+', N'(+) დამატება')
GO
INSERT [dbo].[OperationTargetTypes] ([Code], [Description], [TypeCodeMask], [Position], [Note]) VALUES (1, N'(1) მუშაობა ერთ კასრზე', 15, 1, N'ჩანდეს ყველგან')
INSERT [dbo].[OperationTargetTypes] ([Code], [Description], [TypeCodeMask], [Position], [Note]) VALUES (2, N'(2) შიდა მარაგების კასრებიდან', 15, 2, N'ჩანდეს ყველგან')
INSERT [dbo].[OperationTargetTypes] ([Code], [Description], [TypeCodeMask], [Position], [Note]) VALUES (3, N'(3) სხვა მეწარმის კასრებიდან', 15, 3, N'ჩანდეს ყველგან')
GO
INSERT [dbo].[PercentList] ([Value]) VALUES (100)
INSERT [dbo].[PercentList] ([Value]) VALUES (99)
INSERT [dbo].[PercentList] ([Value]) VALUES (98)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CompanyT__737584F6865B5AA6]    Script Date: 5/7/2026 3:59:40 PM ******/
ALTER TABLE [dbo].[CompanyTypes] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BeverageCategories] ADD  DEFAULT ((0)) FOR [TypeCodeMask]
GO
ALTER TABLE [dbo].[BeverageCategories] ADD  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[BeverageCategories] ADD  DEFAULT ((0)) FOR [AllowedMixingMask]
GO
ALTER TABLE [dbo].[BeverageColors] ADD  DEFAULT ((0)) FOR [TypeCodeMask]
GO
ALTER TABLE [dbo].[BeverageColors] ADD  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[BeverageProductTypes] ADD  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[BeverageProductTypes] ADD  CONSTRAINT [DF__BeverageP__Theme__69E6AD86]  DEFAULT ('#ece9e6') FOR [ThemeColor]
GO
ALTER TABLE [dbo].[BeverageSubCategories] ADD  DEFAULT ((0)) FOR [TypeCodeMask]
GO
ALTER TABLE [dbo].[BeverageSubCategories] ADD  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[BeverageSweetnessLevels] ADD  DEFAULT ((0)) FOR [TypeCodeMask]
GO
ALTER TABLE [dbo].[BeverageSweetnessLevels] ADD  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[CompanyTypes] ADD  CONSTRAINT [DF_CompanyTypes_FullName]  DEFAULT (N'ჩაწერე სრული სახელი') FOR [FullName]
GO
ALTER TABLE [dbo].[DocumentType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OperationDefinitions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OperationDefinitions] ADD  DEFAULT ((0)) FOR [PreserveBarrelState]
GO
ALTER TABLE [dbo].[OperationDefinitions] ADD  DEFAULT ((0)) FOR [TypeCodeMask]
GO
ALTER TABLE [dbo].[OperationDefinitions] ADD  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[OperationTargetTypes] ADD  DEFAULT ((0)) FOR [TypeCodeMask]
GO
ALTER TABLE [dbo].[OperationTargetTypes] ADD  DEFAULT ((0)) FOR [Position]
GO
ALTER TABLE [dbo].[PercentList] ADD  CONSTRAINT [DF_PercentList_Value]  DEFAULT ((0)) FOR [Value]
GO
